input {
	background-color: rgba(255,255,255,.1);
	border: 1px solid rgba(255,255,255,.15);
}
input:focus { 
	outline: 1px solid rgba(255,255,255, .35);
	background-color: rgba(255,255,255,.15);
}
button {
	border: 1px solid rgba(255,255,255,.15);
	padding: 10px;
	background-color: rgba(255,255,255,.3);
	transition: all .25s linear;
}
button:hover {
  background-color: rgba(255,255,255,.4);
}

button:active {
  background-color: rgba(255,255,255,.5);
}
button:visit {
  background-color: rgba(255,255,255,.5);
  border: 1px solid red;
}
.dataInput {
	display: grid;
	grid-template-columns: 7fr 1fr;
	grid-gap: 5px;
	padding: 5px;
}

.intro {
	text-align: center;
/*	border: 1px solid rgba(255,255,255,.15);*/
	margin: 10px;
	padding: 5px;
}
