.result {
  display: flex;
  justify-content: center;
}
.detected > img {
	width: 400px;
	border: 1px solid rgba(255,255,255,.15);
}

.bounding-box:hover {
	background-color: rgba(255, 255, 255, 0.15);
}

.bounding-box {
  position: absolute;
  border: 2px solid rgba(255,255,255,.6);
  transition: all .25s linear;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}
.result > .mt2 {
	position: absolute;
}

.label {
  border: 1px solid rgb(255, 255, 255);
  background-color: aliceblue;
  color: rgba(0, 0, 0, 0.777)
}